In [1]:
# Pandas
# Used to work with tabular data
# Used for data analysis
# Two main data strctures: series and data frame

In [2]:
# panda series
# I think only 1 dimensional

import pandas as pd

data = [10, 40, 3, 1, 6]
s = pd.series(data)
print("Data series:\n", s)
print("Data type of s:", series(s))

AttributeError: module 'pandas' has no attribute 'series'

In [4]:
# DataFrame by list
# I think DataFrames are only 2 dimensional

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(data)
print(data[0][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [6]:
# Convert data to DataFrame

df = pd.DataFrame(data)
print("data frame by list \n", df)
# DataFrame shape
print(df.shape) # (3, 3)
#print(type(df))

data frame by list
    0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
(3, 3)

In [15]:
# DataFrame by dictionary

data = { "bob" : [1, 2, 3],
         "tom" : [4, 5, 6],
         "mary" : [7, 8, 9]}
df = pd.DataFrame(data)
print(df)
print(df.shape)

   bob  tom  mary
0    1    4     7
1    2    5     8
2    3    6     9
(3, 3)

In [11]:
# Selecting columns

col = df['a']
print(col)
print(type(col))

0    1
1    2
2    3
Name: a, dtype: int64
<class 'pandas.core.series.Series'>

In [12]:
# selecting rows

r = df.loc[0]
print(r)
print(type(r))

a    1
b    1
c    1
Name: 0, dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
# Handling with mussing data

import numpy as np

data = { "bob" : [1, 2, 3],
         "tom" : [4, np.NaN, 6], # NaN - means not a number
         "mary" : [7, 8, 9]}
df = pd.DataFrame(data)
print(df)

   bob  tom  mary
0    1  4.0     7
1    2  NaN     8
2    3  6.0     9

In [17]:
# Drop missing values

print(df.dropna()) # drops NaN - drop a row instead of a column because a row is an instance of a data sample

   bob  tom  mary
0    1  4.0     7
2    3  6.0     9

In [18]:
# Another common practice is to replace NaN with 0, or mean, or median, etc.

print(df.fillna(0))

   bob  tom  mary
0    1  4.0     7
1    2  0.0     8
2    3  6.0     9

In [19]:
# Concatenating
# pd.concat

In [20]:
# Row-wise concatenation

df1 = {"A" : ["A1", "A2"],
       "B" : ["B1", "B2"]
        index=[0, 1, 3, 4]}
df2 = 

df = pd.concat[df1, df2]

SyntaxError: invalid syntax (2790846781.py, line 4)

In [21]:
# Column-wise concatenation
# Look slides

In [22]:
# When concatening DataFrames with different keys you'll get NaN when concatenating

In [28]:
# Practice Problem 1:



data1 = {"A" : [1.0, 1.0, 1.0],
       "B" : [1.0, 1.0, 1.0]
}
df1 = pd.DataFrame(data1)

data2 = {"C" : [2.0, 2.0, 2.0],
       "D" : [2.0, 2.0, 2.0]
}
df1 = pd.DataFrame(data2)

result = pd.concat[df1, df2]

print(result)

TypeError: 'function' object is not subscriptable

In [29]:
# Merging 
# pd.merge
# Used when at least two common columns keys are the same
# Ignores uncommmon values between matrices
# 'comon' and 'outer' learn
# on='key' and how='left' and how='right'

# Look at slides for examples

In [ ]:
# Reading data files like csv file