In [ ]:
# Most of lecture was done in sent out lecture in lecture folder

In [1]:
# Read csv file 

import pandas as pd

df = pd.read_csv("supermarket_data.csv") # you get this say from the internet

In [4]:
# Problem: The retail company decides to give 5 discount to all of its product. Generate a column that containthe unit price for all invoices

df["Updated unit price"] = df ["Unit price"].apply(lambda x: x*.95)
df[["Invoice ID", "Unit price", "Updated unit price"]]

      Invoice ID  Unit price  Updated unit price
0    750-67-8428       74.69             70.9555
1    226-31-3081       15.28             14.5160
2    631-41-3108       46.33             44.0135
3    123-19-1176       58.22             55.3090
4    373-73-7910       86.31             81.9945
..           ...         ...                 ...
995  233-67-5758       40.35             38.3325
996  303-96-2227       97.38             92.5110
997  727-02-1313       31.84             30.2480
998  347-56-2442       65.82             62.5290
999  849-09-3807       88.34             83.9230

[1000 rows x 3 columns]

In [ ]:
# Problem: The retail company decides to give %

# LOOK AT REST OF LECTURE DONE IN LECTURE 13 lIVE DONE IN LECTURES FOLDER