In [17]:
# Indexing in pandas

# DataFrame 
# They are mutable

import pandas as pd

# Creating a sample dataframe
df = pd.DataFrame({"A" : ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
                   "B" : ["one", "one", "two", "one", "two", "two", "one", "three"],
                   "C" : [1, 2, 3, 4, 5, 6, 7, 8],
                   "D" : [10, 20, 30, 40, 50, 60, 70, 80]},
                   index = [[1, 2, 3, 4, 1, 2, 3, 4],["a", "b", "c", "d", "e", "f", "g", "h"]])

# Grouping the dataframe by columns "A"
#grouped = df.groupby(["A"])

# Grouping the dataframe by columns "A" and "B"
#grouped = edf.groupby(["A, "B"])

# Calculating the sum of the values in columns 'C' and 'D' for each group
#result = grouped.sum()

df
print(df)
print(df.loc[1, 'a'])
#print("Grouped result:")
#print(result)

       A      B  C   D
1 a  foo    one  1  10
2 b  bar    one  2  20
3 c  foo    two  3  30
4 d  bar    one  4  40
1 e  foo    two  5  50
2 f  bar    two  6  60
3 g  foo    one  7  70
4 h  foo  three  8  80
A    foo
B    one
C      1
D     10
Name: (1, a), dtype: object

In [19]:
# Dropping a column from a dataframe

ndf = df.drop(["A", "B"], axis = 1)
ndf

     C   D
1 a  1  10
2 b  2  20
3 c  3  30
4 d  4  40
1 e  5  50
2 f  6  60
3 g  7  70
4 h  8  80

In [21]:
# Statistics with dataframe

ndf.mean()

C     4.5
D    45.0
dtype: float64

In [24]:
# Changing the axis
# Columns are called a feature 
# Rows are a data point - instance

ndf.mean(axis="columns")

1  a     5.5
2  b    11.0
3  c    16.5
4  d    22.0
1  e    27.5
2  f    33.0
3  g    38.5
4  h    44.0
dtype: float64

In [27]:
# groupby()

grouped = df.groupby("A") # groups by characteristics bar and foo - 3 bar and 5 foo
grouped.mean()

       C     D
A
bar  4.0  40.0
foo  4.8  48.0

In [29]:
# groupby aggregate

import numpy as np
df.groupby("A").aggregate(["mean", np.median, max])

C:\Users\a_j_p\AppData\Local\Temp\ipykernel_1220\1116678969.py:4: FutureWarning: ['B'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby("A").aggregate(["mean", np.median, max])

       C                D
    mean median max  mean median max
A
bar  4.0    4.0   6  40.0   40.0  60
foo  4.8    5.0   8  48.0   50.0  80

In [32]:
# groupby aggregate

print(df)
df.groupby("A").aggregate({"C" : "min", "D" : np.median})

       A      B  C   D
1 a  foo    one  1  10
2 b  bar    one  2  20
3 c  foo    two  3  30
4 d  bar    one  4  40
1 e  foo    two  5  50
2 f  bar    two  6  60
3 g  foo    one  7  70
4 h  foo  three  8  80

     C     D
A
bar  2  40.0
foo  1  50.0