# Pandas 

Pandas is a library for data analysis in Python. It provides data structures for efficiently storing large datasets and tools for working with them.

Pandas is widely used for data analysis and is an essential library for data scientists, business analysts, and data engineers.

## Two main data structures

- A __Series__ is a one-dimensional labeled array that can hold any data type. 

- A __DataFrame__ is a 2-dimensional labeled data structure with columns that can be of different data types.

In [3]:
import pandas as pd

# Series
data = [10, 40, 3, 1, 6]
s = pd.Series(data)
print("Data series:\n", s)
print("Data type of s:", type(s))

Data series:
 0    10
1    40
2     3
3     1
4     6
dtype: int64
Data type of s: <class 'pandas.core.series.Series'>

In [6]:
# Quick review on 2D list
data = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(data)
print(data[2][0])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
7

In [7]:
df = pd.DataFrame(data)
print("data frame by list \n", df)
# DataFrame shape
print(df.shape)
#print(type(df))

data frame by list
    0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
(3, 3)

In [16]:
# DataFrame by dictionary

data = {'price': [1, 2, 3,100],
        'exp date': [4, 5, 6,3000],
        'country': [7, 8, 9,1]}
df = pd.DataFrame(data)
print("data frame by dictionary \n", df)

# DataFrame shape
print(df.shape)

#List all columns
print(df.columns)

data frame by dictionary
    price  exp date  country
0      1         4        7
1      2         5        8
2      3         6        9
3    100      3000        1
(4, 3)
Index(['price', 'exp date', 'country'], dtype='object')

In [12]:
# Selecting columns
col = df['tom']
print(col)
print(type(col))

0       4
1       5
2       6
3    3000
Name: tom, dtype: int64
<class 'pandas.core.series.Series'>

In [14]:
# Selecting rows
r= df.loc[0]
print(r)
print(type(r))

bob     1
tom     4
mary    7
Name: 0, dtype: int64
<class 'pandas.core.series.Series'>

## Handling with missing data
Missing data in Pandas is represented by NaN. Before using the data for any task, one needs to handle the missng values.

In [17]:
import numpy as np
data = {'a': [1, 2, 3],
        'b': [4, np.NaN, 6],
        'c': [7, 8, 9]}
df = pd.DataFrame(data)
print(df)

   a    b  c
0  1  4.0  7
1  2  NaN  8
2  3  6.0  9

In [18]:
# Drop missing values
print(df.dropna())

   a    b  c
0  1  4.0  7
2  3  6.0  9

In [19]:
data = {'a': [1, 2, 3],
        'b': [4, np.NaN, 6],
        'c': [7, 8, 9]}
df = pd.DataFrame(data)
print(df)
# Fill missing values
print(df.fillna(0))

   a    b  c
0  1  4.0  7
1  2  NaN  8
2  3  6.0  9
   a    b  c
0  1  4.0  7
1  2  0.0  8
2  3  6.0  9

## Concatenating

__pd.concat__ is used for concatenating DataFrames along either the rows or columns axis. This function can be used to simply stack DataFrames on top of each other (row-wise concatenation) or side by side (column-wise concatenation).

In [22]:
# Row-wise concatenation

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},                    
                   index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])
df = pd.concat([df1, df2])
print(df)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [23]:
# Row-wise concatenation

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'E': ['E4', 'E5', 'E6', 'E7'],
                    'F': ['F4', 'F5', 'F6', 'F7']}
                    )
print(df1)
print(df2)
df = pd.concat([df1, df2],axis =1)
print(df)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    E   F
0  E4  F4
1  E5  F5
2  E6  F6
3  E7  F7
    A   B   C   D   E   F
0  A0  B0  C0  D0  E4  F4
1  A1  B1  C1  D1  E5  F5
2  A2  B2  C2  D2  E6  F6
3  A3  B3  C3  D3  E7  F7

In [24]:
# Concatenating multiple DataFrames
import pandas as pd
df = pd.DataFrame({'Courses': ["Spark", "PySpark", "Python", "Pandas"],
                    'Fee' : ['20000', '25000', '22000', '24000']}) 
  
df1 = pd.DataFrame({'Courses': ["Unix", "Hadoop", "Hyperion", "Java"],
                    'Fee': ['25000', '25200', '24500', '24900']})
  
df2 = pd.DataFrame({'Duration':['30day','40days','35days','60days','55days'],
                    'Discount':[1000,2300,2500,2000,3000]})
  
# Appending multiple DataFrame
df3 = pd.concat([df, df1, df2])
#df3 = pd.concat([df, df1, df2])
print(df3)

    Courses    Fee Duration  Discount
0     Spark  20000      NaN       NaN
1   PySpark  25000      NaN       NaN
2    Python  22000      NaN       NaN
3    Pandas  24000      NaN       NaN
0      Unix  25000      NaN       NaN
1    Hadoop  25200      NaN       NaN
2  Hyperion  24500      NaN       NaN
3      Java  24900      NaN       NaN
0       NaN    NaN    30day    1000.0
1       NaN    NaN   40days    2300.0
2       NaN    NaN   35days    2500.0
3       NaN    NaN   60days    2000.0
4       NaN    NaN   55days    3000.0

__Practice Problem:__ Find a way to generate the following Pandas DataFrame

In [26]:
data1 = {"A":[1,1,1], "B":[1,1,1]}
df1 = pd.DataFrame(data1)
data2 = {"C":[2,2,2], "D":[2,2,2]}
df2 = pd.DataFrame(data2)
df = pd.concat([df1,df2])
print(df)

     A    B    C    D
0  1.0  1.0  NaN  NaN
1  1.0  1.0  NaN  NaN
2  1.0  1.0  NaN  NaN
0  NaN  NaN  2.0  2.0
1  NaN  NaN  2.0  2.0
2  NaN  NaN  2.0  2.0

## Merging

__pd.merge__ is a function in the Pandas library that is used to merge two or more DataFrames based on the values of one or more common columns (known as "keys"). The function provides options for specifying the type of join (inner, outer, left, right), handling of overlapping column names, and more.

In [29]:
# Creating sample dataframes
df1 = pd.DataFrame({'comon': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'comon': ['K0', 'K1', 'K2', 'K4'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']})

# Performing an outer join on the "key" column
#result = pd.merge(df1, df2, on='key', how='inner')
result = pd.merge(df1, df2, on='comon',how = 'outer')
print(result)

  comon    A    B    C    D
0    K0   A0   B0   C0   D0
1    K1   A1   B1   C1   D1
2    K2   A2   B2   C2   D2
3    K3   A3   B3  NaN  NaN
4    K4  NaN  NaN   C3   D3

In [ ]:
# Creating sample dataframes
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K4'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']})

# Performing an outer join on the "key" column
result = pd.merge(df1, df2, on='key', how='outer')
print(result)

In [48]:
import pandas as pd

# Creating sample dataframes
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K4'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']})

# Performing a left join on the "key" column
left_result = pd.merge(df1, df2, on='key', how='left')
print("Left Join Result:")
print(left_result)

# Performing a right join on the "key" column
right_result = pd.merge(df1, df2, on='key', how='right')
print("Right Join Result:")
print(right_result)

Left Join Result:
  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2   C2   D2
3  K3  A3  B3  NaN  NaN
Right Join Result:
  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K4  NaN  NaN  C3  D3

NOTE: the "print" command doesn't output good-looking DataFrame. Instead, you just can call out the name of the DataFrame or use the command "df.head()" (this will print out the firt five row of the frame). See example below

In [50]:
right_result

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K4  NaN  NaN  C3  D3

## pd.merge vs pd.concat

- __pd.merge__ is used for combining two or more DataFrames based on the values in one or more common columns, also known as a "database-style" join. This function can perform different types of joins such as inner, outer, left, and right joins. It allows you to combine DataFrames based on the values in specific columns, which can be useful when you have different columns in different DataFrames that have the same meaning or when you want to merge only the rows that have matching values in a specific column.

- __pd.concat__ is used for concatenating DataFrames along either the rows or columns axis. This function can be used to simply stack DataFrames on top of each other (row-wise concatenation) or side by side (column-wise concatenation). Unlike pd.merge, pd.concat does not require any common columns between the DataFrames and does not perform any merging based on values in a specific column.

- In general, you should use __pd.merge__ when you want to merge DataFrames based on the values in a common column, and use __pd.concat__ when you want to concatenate DataFrames along either the rows or columns axis.

## Check out ticket

__Problem 1:__ The cafeteria at UI has a data file to store the following information of its customer: (1) phone number, (2) list of items they have purchased, (3) unit price, (4) quantity (5) date of purchase (6) and time of each purchase. See attached image "cafe.png". Generate such a file with $20$ rows (make it as diverse as possible).

__Problem 2:__ The REC center at UI has a data file to store the following information of its members: (1) phone number, (2) date of visit (3) starting time of visit, (4) ending time of visit. Make such as data file with $20$ rows.

__Problem 3:__ The university wants to make a data file that contains the activities of both its Cafeteria and REC center. Write the code to generate such data file.

__Problem 4:__ The REC center wants to see the eating habits of its members to make food recommendation. Write the code to combine the data file for such purpose.

In [7]:
import pandas as pd
import numpy as np

data = {"phone": ['208-310-4288','208-310-4288','208-310-4288'], 
        "items":["coffee", "baggle", "baggle"] ,
        "unit price":[5,6,5],
        "quantity": [1,1,1],
        "date":["Dec 12, 2022","Dec 12, 2022","Dec 22, 2022"],
        "time":["9:00 AM","9:00 AM","10:01 AM"]
       }
df = pd.DataFrame(data)
df

          phone   items  unit price  quantity          date      time
0  208-310-4288  coffee           5         1  Dec 12, 2022   9:00 AM
1  208-310-4288  baggle           6         1  Dec 12, 2022   9:00 AM
2  208-310-4288  baggle           5         1  Dec 22, 2022  10:01 AM

In [10]:
import dataframe_image as dfi
dfi.export(df,"cafe.png")

objc[49744]: Class WebSwapCGLLayer is implemented in both /System/Library/Frameworks/WebKit.framework/Versions/A/Frameworks/WebCore.framework/Versions/A/Frameworks/libANGLE-shared.dylib (0x7ffb5e1e4ec8) and /Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/109.0.5414.119/Libraries/libGLESv2.dylib (0x10ffa9880). One of the two will be used. Which one is undefined.
[0207/112323.746782:INFO:headless_shell.cc(223)] 71189 bytes written to file /var/folders/cd/4zjhmhws6f38td1n6ddw_3pc0000gn/T/tmpzcs2c1p0/temp.png