## Part 1: data modeling with Pandas  

__Problem 1:__ The cafeteria at UI has a data file to store the following information of its customer: (1) phone number, (2) list of items they have purchased, (3) unit price, (4) quantity (5) date of purchase (6) and time of each purchase. See attached image "cafe.png". Generate such a file as a DataFrame in Pandas with $20$ rows (make it as diverse as possible).

In [ ]:
# you code here! 
# make sure that you print out the DataFrame


__Problem 2:__ The REC center at UI has a data file to store the following information of its members: (1) phone number, (2) date of visit (3) starting time of visit, (4) ending time of visit. Make such as data file as Pandas' DataFrame with $20$ rows.

In [ ]:
# you code here! 
# make sure that you print out the DataFrame

__Problem 3:__ The university wants to make a data file that contains the activities of both its Cafeteria and REC center. Write the code to generate such data file as a Pandas' DataFrame.

In [ ]:
# you code here! 
# make sure that you print out the DataFrame

__Problem 4:__ The REC center wants to see the eating habits of its members to make food recommendation. Write the code to combine the data file for such purpose.

In [ ]:
# you code here! 
# make sure that you print out the DataFrame

## Part 2: working with external data

__Problem:__ Read the "supermarket_data.csv" file. Read the names of the columns (nicely!). Then answer the following questions (basing on your detailed analysis/codes).

In [5]:
import pandas as pd
df = pd.read_csv('supermarket_data.csv')
for col in df.columns:
    print(col)

Invoice ID
Branch
City
Customer type
Gender
Product line
Unit price
Quantity
Tax 5%
Total
Date
Time
Payment
cogs
gross margin percentage
gross income
Rating

(a) What is the total gross income of each product line?

In [6]:
df.groupby('Product line')['gross income'].sum()

Product line
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Food and beverages        2673.5640
Health and beauty         2342.5590
Home and lifestyle        2564.8530
Sports and travel         2624.8965
Name: gross income, dtype: float64

(b) What is the highest-rated product line in the dataset?

In [11]:
df.groupby('Product line')['Rating'].mean().aggregate(['idxmax','max'])

idxmax    Food and beverages
max                 7.113218
Name: Rating, dtype: object

(c) Which gender spend more money on Electronic accessories?

In [22]:
df[df['Product line']=='Electronic accessories']
#df[df['Product line']=='Electronic accessories'].groupby('Gender')['gross income'].sum().idxmax()

#df.groupby('Gender')['gross income'].sum().idxmax()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
11,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.1420,3/9/2019,17:03,Cash,102.04,4.761905,5.1020,6.8
12,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375,246.4875,2/12/2019,10:25,Ewallet,234.75,4.761905,11.7375,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,156-20-0370,B,Mandalay,Normal,Female,Electronic accessories,25.45,1,1.2725,26.7225,3/10/2019,18:10,Credit card,25.45,4.761905,1.2725,5.1
984,189-40-5216,C,Naypyitaw,Normal,Male,Electronic accessories,96.37,7,33.7295,708.3195,1/9/2019,11:40,Cash,674.59,4.761905,33.7295,6.0
988,267-62-7380,C,Naypyitaw,Member,Male,Electronic accessories,82.34,10,41.1700,864.5700,3/29/2019,19:12,Ewallet,823.40,4.761905,41.1700,4.3
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9

(e) What month in the year that cosmetic is most consumed?

In [32]:
month = []
for date in df['Date']:
    month.append(str.split(date,'/')[0])
#print(month)    
df['month']= pd.Series(month)
df[df['Product line'=='Cosmetics']].groupby('month')
#df[df['Product line'=='Costmetics']].groupby('month')['Quantity'].sum()

KeyError: False

(g) Study the relationships between the following quantities:'Unit price', 'Quantity', 'Tax 5%','cogs','gross margin percentage','gross income' (state at least three relationships).