***Andrew Plum***

***CS 488***

***9/6/2024***

# Homework Assignment 1 

The homework assignment is due by the end of the day on Thursday, September 5.

Please attempt to solve the assignment problems yourself and obey the academic honesty and integrity policies of the university. It is acceptable to discuss the problems with the classmates, but it is not acceptable to get access to the solutions from the classmates. Obviously, it is not acceptable to copy and paste solutions to the assignment problems from solutions by coding assistants, from webpages, or anywhere else.

To avoid potential conflicts between variable names, you can restart the kernel often or restart it for every new problem by selecting `Kernel -> Restart Kernel...`. Also, when you complete all problems and before submitting the notebook, it is recommended to select `Kernel -> Restart Kernel and Run All Cells...` to ensure that all cells are executed without any errors.

**Total points: 25**

# Problem 1 - Strings (4 points)

(a) For the given string `s1`, print out the letter `o` using indexing.

0.5 points

In [1]:
s1 ='computer'

# Your Code Here

for c in s1:
    if c == 'o':
        print('o')

o

(b) Print out the last letter in `s1` using negative indices for indexing.

0.5 points

In [2]:
# Your Code Here

print(s1[-1])

r

(c) Reverse the string `s1` using slicing.

0.5 points

In [3]:
# Your Code Here

s1[::-1]

'retupmoc'

(d) Concatenate the following two strings `s2` and `s3`, and make sure there is an empty space between them in the concatenated string. Assign the concatenated string to variable `s4` and print it.

0.5 points

In [4]:
s2 = 'first'
s3 = 'name'

# Your Code Here

s4 = s2 + ' ' + s3
s4

'first name'

(e) Assign the name `Albert Einstein` to a variable `famous_person`, and then print it first in lowercase and afterward in uppercase characters.

0.5 points

In [5]:
# Your Code Here

famous_person = "Albert Einstein"
print(famous_person.lower())

albert einstein

In [6]:
# Your Code Here

print(famous_person.upper())

ALBERT EINSTEIN

(f) Separate the first and last name in `famous_person`, assign them to variables `first` and `last`, and print the two variables.

0.5 points

In [7]:
# Your Code Here

first, last = famous_person.split(" ")
print(first)
print(last)

Albert
Einstein

(g) Create a string 'Objects in Python can have built-in methods.' and assign it to a variable `s5`. Use the `replace()` function to change the string to 'Objects in Python can work with built-in methods.' and assign it to variable `s6`. Print the variables `s5` and `s6`.

1 point

In [8]:
# Your Code Here

s5 = "Objects in Python can have built-in methods."
s6 = s5.replace("have", "work with")
print(s5)
print(s6)

Objects in Python can have built-in methods.
Objects in Python can work with built-in methods.

# Problem 2 - Lists (3 points)

(a) Sort the following list in descending order, and print the output.

0.5 points

In [9]:
list1 = [5,3,4,6,1]

# Your Code Here

print(sorted(list1, reverse = 1))

[6, 5, 4, 3, 1]

(b) Use list comprehension to create a list named `list2` consisting of the squared numbers from 1 to 10. Note again that it is required to use list comprehension.

0.5 points

In [10]:
# Your Code Here

list2 = [n**2 for n in range(11) if n != 0] # exclude 0
print(list2)

# can also do it this way

list2 = [x**2 for x in range(1, 11)]
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

(c) Use list comprehension to select the words in `list3` that end with the letter t. Hint: use `.endswith()`.

0.5 points

In [11]:
list3 = ['spot', 'tea', 'day', 'belt', 'stop', 'spam', 'first']

In [12]:
# Your Code Here
print([n for n in list3 if n.endswith("t")])

['spot', 'belt', 'first']

(d) Convert the following code into a list comprehension. In other words, write a list comprehension that squares the elements in `a` greater than 4.

0.5 points

In [13]:
# Filter elements greater than 4 and return squared values
a = [3, 7, 4, 6, 2, 8, -3, 12]
b = []

for i in a:
    if i > 4:
        b.append(i**2)
b

[49, 36, 64, 144]

In [14]:
# Your Code Here

print([n**2 for n in a if n > 4])

[49, 36, 64, 144]

(e) Use indexing to select the element 'hello' in the nested list `list4` and change the element to 'goodbye'.

0.5 points

In [15]:
list4 = [1, 2, [3, [4, 5, ['hello']]]]

# Your Code Here

list4[2][1][2][0] = "goodbye"
list4

[1, 2, [3, [4, 5, ['goodbye']]]]

(f) Using `pop()` and `insert()`, change `list5` so that numbers 3 and 7 are switched.

0.5 points

In [16]:
list5 = [1, 2, 3, 4, 5, 6, 7, 8]

# Your Code Here

list5.pop(6)
list5.insert(6,3)
list5.pop(2)
list5.insert(2,7)
print(list5)

[1, 2, 7, 4, 5, 6, 3, 8]

# Problem 3 - Dictionaries (3 points)

(a) For the given dictionary `languages`, print the keys and values. Then, change the values 'c' and 'ruby' to be uppercase letters. 

1 point

In [17]:
languages = {'alice':'python', 'bob': 'c', 'sarah':'ruby', 'ed': 'python'}

In [18]:
# Your Code Here

languages.keys()

dict_keys(['alice', 'bob', 'sarah', 'ed'])

In [19]:
# Your Code Here

languages.values()

dict_values(['python', 'c', 'ruby', 'python'])

In [20]:
# Your Code Here

languages["bob"] = languages["bob"].upper()
languages

{'alice': 'python', 'bob': 'C', 'sarah': 'ruby', 'ed': 'python'}

In [21]:
# Your Code Here

languages["sarah"] = languages["sarah"].upper()
languages

{'alice': 'python', 'bob': 'C', 'sarah': 'RUBY', 'ed': 'python'}

(b) Use keys and indexing to access the value 'hello' from the following nested dictionaries.

1 point

In [22]:
dict1 = {'k1':{'k2':'hello'}}

# Your Code Here

dict1["k1"]["k2"]

'hello'

In [23]:
dict2 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

# Your Code Here
dict2["k1"][2]["k2"][1]["tough"][2][0]

'hello'

(c) Similar to list comprehensions, in Python dictionary comprehensions can be used to create new dictionaries, where the syntax is `{x:y for x,y in dict.items()}`, with `x` and `y` being the keys and values in the dictionary. 

Write a dictionary comprehension to create a new dictionary named `new_dict3` that has the same keys as the dictionary `dict3` below and has the corresponding values incremented by 10.

1 point

In [24]:
dict3 = {'a': 1, 'b': 2, 'c': 3}
dict3

{'a': 1, 'b': 2, 'c': 3}

In [25]:
# Your Code Here

new_dict3 = {x: y + 10 for x, y in dict3.items()}
new_dict3

{'a': 11, 'b': 12, 'c': 13}

# Problem 4 - Tuples (3 points)

(a) Create a tuple `t1` consisting of the numbers from 1 to 5. Convert the tuple to a list `list1`, then use the `sort()` function for lists to sort the numbers in a reversing order. Convert the list back to a tuple `t2`.

1 point

In [26]:
# Create the tuple r
t1 = (1, 2, 3, 4, 5)
t1

(1, 2, 3, 4, 5)

In [27]:
# Your Code Here

list_t1 = list(t1)
print(list_t1)
list_t1.sort(reverse = 1)
print(list_t1)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [28]:
# Your Code Here

t2 = tuple(list_t1)
t2

(5, 4, 3, 2, 1)

(b) Use indexing to access the value 20 from the following nested tuple.

0.5 points

In [29]:
tuple3 = ('Orange', [10, 5, (15, ['Apple'], [25, [20, 30]])])

In [30]:
# Your Code Here

tuple3[1][2][2][1][0]

20

(c) Use indexing to access the value 'Apple' from the nested tuple `tuple3` .

0.5 points

In [31]:
# Your Code Here

tuple3[1][2][1][0]

'Apple'

(d) In `tuple4` given below, can we change the value 20 to 200? If yes, provide the code and write your explanation. And if not, explain why.

1 point

In [32]:
tuple4 = (10, [20, 30], 40, 50)

In [33]:
# Your Answer Here

tuple4[1][0] = 200
tuple4

(10, [200, 30], 40, 50)

***Explanation:***

Although elements of the tuple are immutable, the elements inside of the list are mutable.
The element in the tuple which is a list can not be removed or reassigned, but the elements inside this list can.

# Problem 5 - Sets (3 points)

(a) Create two sets `set1` and `set2` corresponding to the words 'manufacturing' and 'factory'. Print the letters that appear in both words.

0.5 points

In [34]:
# Your Code Here
set1 = set("manufacturing")
set2 = set("factory")

print(set1 & set2)
#{'a', 'c', 'f', 'r', 't'}

{'r', 'c', 'f', 'a', 't'}

(b) The following two sets list the names of company employees in two groups `engineers` and `managers`. 

Use set expressions to list employees who are both engineers and managers.

0.5 points

In [35]:
engineers = {'bob', 'sue', 'ann', 'vic', 'joe', 'eli'}
managers = {'tom', 'sue', 'can', 'mia'}

# Your Code Here

print(engineers & managers)

{'sue'}

(c) Use set expressions to list employees who are engineers but are not managers.

0.5 points

In [36]:
# Your Code Here

print(engineers - managers)

{'ann', 'eli', 'vic', 'bob', 'joe'}

(d) Use set expressions to list all people who are either engineers or managers.

0.5 points

In [37]:
# Your Code Here

print(engineers | managers)
#{'ann', 'bob', 'can', 'eli', 'joe', 'mia', 'sue', 'tom', 'vic'}

{'ann', 'sue', 'eli', 'can', 'mia', 'vic', 'bob', 'joe', 'tom'}

(e) Use set expressions to list employees who are managers but are not engineers.

0.5 points

In [38]:
# Your Code Here

print(managers - engineers)

{'can', 'mia', 'tom'}

(f) Use set expressions to check if all managers are engineers. Hint: consider superset in sets.

0.5 points

In [39]:
# Your Code Here
print(engineers >= managers) # return bool of if engineers is superset of managers

False

# Problem 6 - If-else Tests (5 points)

(a) Write an `if-else` test that for a given number `x` prints whether it is an even or odd number. Hint: use the modulus operator `%`.

0.5 points

In [40]:
x = 5

# Your Code Here

if x % 2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

5 is an odd number

(b) In the cell below, explain why we used double quotes in the last print line, and we used single quotes in the first print line?

0.5 points

In [41]:
person = 'Jim'

if person == 'Joe':
    print('Welcome Joe!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome, what's your name?

In [42]:
# Your Answer Here

# We used double quotes in the last print line because within that string is an apostrophe (single quote).
# We need double quotes to delineate where the entire string starts and ends; if we used just 
# single quotes in the last string, then the string boundary would be reached prematurely.
# We don't have to do this for the other strings because they have no apostrophe (single quote) in them.
# If we wanted to use only single quotes, then we would need to us the escape character to escape the single quote apostrophe.

(c) Using `if-else` and the `input()` function, create a program that asks to enter a password, and if the password is 123456 it displays 'Welcome!' and if not it displays 'Access denied!'.

0.5 points

In [43]:
password = input("Enter your password: ")

# Your Code Here

if password == "123456":
    print("Welcome!")
else:
    print("Access denied!")

#Enter your password:  123456
#Welcome!

Enter your password:  123456

Welcome!

(d) Write code that for given marks will print the grade, where F grade is less than 60 marks, D is 60 to 69 marks, C is 70 to 79 marks, B is 80 to 89, and A is 90 to 100.  

1 point

In [44]:
grade = 85

# Your Code Here

# this assumes grade is only an int for correct grading
# if grade is 69.5 then didn't know if it should be a D or C so implemented the system for integers 

if grade < 60:
    print("grade is F")
elif grade <= 69:
    print("grade is D")
elif grade <= 79:
    print("grade is C")
elif grade <= 89:
    print("grade is B")
elif grade <= 100:
    print("grade is A")
else:
    print("grade score not in grade score range")



# grade is B

grade is B

(e) Using `if-elif-else tests`, write a code asking the user to enter a word. Then if the word is 'hi' print 'Hi to you too!', if the word is 'hello' print 'Hello hello!', if the word is 'howdy' print 'Howdyyyy!', if the word is 'hey' print "hey hey hey!', and the word is none of the above words print 'I don't know what this word means.'

1 point

In [45]:
word = input("Enter one word: ")

# Your Code Here

if word == "hi":
    print("Hi to you too!")
elif word == "hello":
    print("Hello hello!")
elif word == "howdy":
    print("Howdyyyy!")
elif word == "hey":
    print("hey hey hey!")
else:
    print("I don't know what this word means.")

#Enter one word:  hey
#Hey hey hey!

Enter one word:  hey

hey hey hey!

(f) Using `if-elif-else tests`, write a program to print the number of days for a given month.

1 point

In [46]:
month = 'May'

# Your Code Here

if month == "January":
    print("January has 31 days.")
elif month == "February":
    print("February has 28 on a normal year and 29 days on a leap year.")
elif month == "March":
    print("March has 31 days.")
elif month == "April":
    print("April has 30 days.")
elif month == "May":
    print("May has 31 days.")
elif month == "June":
    print("June has 30 days.")
elif month == "July":
    print("July has 31 days.")
elif month == "August":
    print("August has 31 days.")
elif month == "September":
    print("September has 30 days.")
elif month == "October":
    print("October has 31 days.")
elif month == "November":
    print("November has 30 days.")
elif month == "December":
    print("December has 31 days.")
else:
    print("The string is not a properly spelled month.")

#May has 31 days.

May has 31 days.

(g) Use the `break` statement in a for loop to calculate the sum of all elements in a list that precede the number 100. Explain what would have happened if you replaced `break` with a `continue` statement in your code.

0.5 points

In [47]:
list6 = [3, 66, 70, 25, 43, 29, 100, 50, 88, 28, 96]

In [48]:
# Your Code Here  

total = 0

for n in list6:
    if n == 100:
        break
    total = total + n
    
print(total)
    
# 236

236

***Explanation of replacing break with continue***

If we replace break with continue, then the for loop is not terminated (like when we used break) and it would just skip the current iteration and go on to execute the subsequent iterations until the loop terminates.

# Problem 7 - Files (4 points)

(a) Open the file `file1.txt` that is available in the Assignment 1 folder, and write a program to count the total number of words in the text file, and print it. 

2 points

In [49]:
# Your Code Here

file1 = open("file1.txt", "r")
text = file1.read()

word_count = 0 
prev_char_is_space = False

for character in text:
    if character != " ":
        prev_char_is_space == False
        continue
    if character == " " and prev_char_is_space == False:
        word_count += 1
        prev_char_is_space
if text[len(text) - 1] != " ": # count last word if last character is not a space
    word_count += 1

print(word_count)

53

(b) Using the `file1.txt` again, write a program to print the longest word in the file. 

2 points

In [50]:
# Your Code Here

file1 = open("file1.txt", "r")
text = file1.read()

longest_word = ""
curr_word = ""
longest_word_length = 0

for character in text:
    if character != " ":
        curr_word += character
    else:
        if len(curr_word) > longest_word_length:
            longest_word = curr_word
            longest_word_length = len(curr_word)
        curr_word = ""
        
    if len(curr_word) > longest_word_length:
        longest_word = curr_word
        
if longest_word == "":
    print("No words found in the text.")
else:
    print(longest_word)

#instructions

instructions